{include file="home/mainheader"/}
<html>
    <head>
            <link rel="stylesheet" type="text/css"  href="__CSS__/flights.css"/>
            <script type="text/javascript" src="__JS__/jquery-1.10.2.min.js"></script>
            <script type="text/javascript" src="__JS__/flights.js"></script>

    </head>
    <body>
        <div id="main-container">
         
                <div class="search-panel" id="search-panel-container">
                    <div class="fill-height">
                        <div class="fill-widht">
                            <form method="get" action="ticket.html">
                                <h1 id="flights-heading">Search for flights</h1>
                               <div class="row">
                                    <div class="text-center">
                                        <div class="form-group" style="display: none;">
                                            <label for="field-search-journey-type-return" class="radio-inline">
                                            <input type="radio" id="field-search-journey-type-return" value="return" name="tripType" >
                                            Return trip </label>
                                            </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="form-group" style="display: none;">
                                            <label for="field-search-journey-type-oneway" class="radio-inline">
                                            <input type="radio" id="field-search-journey-type-oneway" value="oneway" name="tripType">
                                             One‐way trip </label>
                                        </div>
                                    </div>
                               </div>
                               <div class="group">
                                   <div class="col">
                                       <div class="form-group">
                                            <label for="depart-from" class="search-depart-from-label">From</label>
                                            <div class="complete-container">
                                             <input id="depart-from" name="depart_from" type="text" class="form-control-input" placeholder="Airport or City">
                                            </div>
                                       </div>
                                   </div>
                                   <div class="col">
                                        <div class="form-group">
                                             <label for="arrive-from" class="search-depart-from-label">To</label>
                                             <div class="complete-container">
                                              <input id="arrive-from" name="arrive_from" type="text" class="form-control-input" placeholder="Airport or City">
                                             </div>
                                        </div>
                                    </div>

                               </div>
                               <div class="group">
                                    <div id="searchdates" class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label id="label-leavedate" class="datepicker-label " for="leaveDate">Leave on</label>
                                                <div class="search-leavedate">
                                                    <input type="date" name="label_leavedate" id="leaveDate" class="form-control-input" min="2019-05-01">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group" style="display: none;">
                                                <label id="label-arrivedate" class="datepicker-label " for="arriveDate">Return on</label>
                                                <div class="search-arrivedate">
                                                    <input type="date" name="label_arrivedate" id="arriveDate" class="form-control-input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                               <div class="group">
                                    <div class="row">
                                            <div class="col">
                                                    <div class="form-group">
                                                            <label for="adultCountDisplay">Adults</label>
                                                            <div>
                                                                <select id="adultCountDisplay" class="form-control-input" name="name_adultCountDisplay">
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                                                            </div>
                                                    </div>
                                            </div>
                                    </div>
                               </div>
                               <div class="sg-submission">
                                    <button type="submit" class="btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
        </div>

    </body>
</html>
