<html>
    <head>
            <link rel="stylesheet" type="text/css"  href="__CSS__/footer.css"/>
    </head>

<body>
        <div data-bind="stopBinding: true">
                <vui-footer>
                     <div class="vui-footer" role="contentinfo" aria-label="footer">
                     <div class="margin-left"></div>
                     <div class="container">
                     <div>
                          <div class="vui-footer-column-group vui-row-same-height">
                               <div class="vui-footer-column">
                               <h5>Contact Us</h5>
                               <div class="vui-footer-phone" >
                                    <div>Online booking help:</div>
                                    <a class="vui-link-subtle" >0040 008 885 </a></div>
                               <ul class="list-unstyled">
                                    <li><a class="vui-link-subtle" >Send us feedback</a></li>
                                    <li><a class="vui-link-subtle" >More contact options</a></li>
                               </ul>
                               </div>
                               <div class="vui-footer-column">
                               <h5>Online Help</h5>
                               <ul class="list-unstyled">
                                    <li><a class="vui-link-subtle" >Frequently Asked Questions</a></li>
                               </ul>
                               </div>
                               <div class="vui-footer-column">
                               <ul class="list-unstyled">
                                    <li><a class="vui-link-subtle" >Website Terms of Use</a></li>
                                    <li><a class="vui-link-subtle" >Privacy Policy</a></li>
                                    <li><a class="vui-link-subtle" >Browser compatibility</a></li>
                                    <li><a class="vui-link-subtle" >Conditions of Carriage</a></li>
                               </ul>
                               </div>
                     
                          </div>
                     </div>
      
                    
                     </div>
                     <div class="margin-right"></div>
                     </div>
                </vui-footer>
      </div>
</body>
</html>