<html>
     <head>
            <link rel="stylesheet" type="text/css"  href="__CSS__/head.css"/>
          
     </head>
     <body>
          <div>
                         <header class="vui-header" role="banner">
                              <div class="vui-header-logo">
                                   <a href="http://www.tp5.com/airtick/public/index/book/flights"><h1 class="log">AirLine</h1></a>
                              </div>
                    
                    
                         </header>
               
          </div>
     </body>
</html>
<script>
     

</script>